<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Kross</title>
<link href="style.css" rel="stylesheet" type="text/css" />

<link href="http://www.kok.com.uy/webfontkit-20120502-213038/stylesheet.css" rel="stylesheet" type="text/css" />



<script type="text/javascript" src="js/modernizr-2.0.6.min.js"></script>
</head>

<body>

		
		<div id="countdown">
			<section>
			<div class="count">
				
                
			</div>
            
            <div id="todo" style="width:650px; height:200px; margin:0 auto;">
			
			<form id="form1" name="form1" action="send.php" onsubmit="return confirm('Seguro que quiere enviar el formulario')" method=post>
   
    
    <span style="font-size:14px; color:#fff; line-height:20px; font-family: 'HelveticaLTStdCondBold';">Nombre:&nbsp;&nbsp;&nbsp;&nbsp;</span><input style="background-color:#f2f2f2; border:none;" type=text name="nombre" id="nombre" size=39><br>
    
    <span style="font-size:14px; color:#fff; line-height:30px; font-family: 'HelveticaLTStdCondBold';">E-mail: &nbsp;&nbsp;&nbsp; &nbsp;</span><input style="background-color:#f2f2f2; border:none;" type=text name="email" id="email" size=39><br>
    
    <span style="font-size:14px; color:#fff;  float:left; font-family: 'HelveticaLTStdCondBold';">Mensaje: &nbsp;&nbsp;</span>
    <textarea style="background-color:#fff; border:none;" name="observaciones" cols="38" rows="6" class="texto" id="observaciones"></textarea>
    <br/>
    
	<input style="font-family: 'HelveticaLTStdCondBold'; font-size:11px; color:#000; border:none; background-color:#fff; text-decoration:none; margin-left:66px; margin-top:10px;" name="Enviar" type="submit"  id="enviar" value="Enviar" />
    
</form>

<div id="datos" style="width:280px; height:200px; margin-left:20px; float:left; color:#FFF; font-size:13px;">Dirección: 19 de Abril 1058 esq. Lucas Obes<br />
Cel.: (+ 598) 93 93 15 96<br />
Tel.: (+ 598) 23 36 84 23<br />
Montevideo, Uruguay.<br /><br />
E-mail: <a href="mailto:krosuruguay@gmail.com">krossuruguay@gmail.com</a><br /></div>

</div> <!-- cierre todo -->

			</section>
		</div>
		
<h3 class="countdown">Contacto</h3>
		
		
			<div class="arrow-line bottom"></div>
			
            
		</div>
		
<div id="logo" style="width:350px; height:174px;margin:30px auto 0
                      auto;">
<%= image_tag "logo.png", style: {width:350, height:174}  %>
</div>

<div id="info" style="width:700px; height:400px; margin:60px auto 0 auto; text-align: center; padding:10px; color:#FFF;">

<h1>¿Qué es el Entrenamiento Funcional ? </h1><br />

<h2>Es la última tendencia de gimnasia y fitness a nivel mundial.</h2> <br />

<p>Es un sistema diseñado para lograr resultados rápidos de tonificación, resistencia aeróbica y anaeróbica y coordinación, mediante el concepto de estaciones de trabajo intermitente. Por ser una actividad funcional se entrenan grupos de cadenas musculares en lugar de concentrarse en músculos específicos logrando mayor resultado a nivel general. El concepto es que nuestro cuerpo en la vida se mueve como un todo y no de manera segmentada.</p><br /><br />

<h2>KROPP/3D TRAINING    <span style="color:#f30;">|</span>    K-EXECUTIVE    <span style="color:#f30;">|</span>    K-KIDS    <span style="color:#f30;">|</span>    K-EXTREME</h2> <br /><br />

<span style="color:#f30;">Kross. Todos los derechos reservados 2012.</span>

</div>
        

<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>
